.btn{
    background-color:#004444;
    color: white;
    border-radius:8px;
}
.main-content{
    box-shadow:5px 3px 18px gray;
    border-radius:10px;
    margin-top:150px;

    
}
.size{
    font-size: 30px;
}