#asd{
    padding-left:40px;
    color:white;
    }
    
    #abc{
    padding-left:20px;
    color:white;
    }
    
    #sai{
        padding-left:20px;
        color:white;
        }
        #sunny{
            padding-right:35px;
            color:white;
            }
            #sun{
                padding-right:40px;
                color:white;
                }
                #pan{
                    padding-right:40px;
                    color:white;
                    }
    
                    #rrr{
                        padding-right:40px;
                        color:white;
                        }
    

    .blue{
        border:solid skyblue 2px;
        border-radius:4px; 
    }
    .flow{
        margin-top: 17px;
    padding-left: 43px;
    }
    .follo{margin-top: 17px;
        padding-left: 43px;
    }
    .likes{margin-top: 17px;
        padding-left: 43px;
    }
    .dlikes{margin-top: 17px;
        padding-left: 43px;
    }
    .example-custom-date-class {
        background: orange;
        border-radius: 100%;
      }
      .w-50{
          padding:1rem;
      }
      #asd{
        padding-left:40px;
        color:white;
        }
        
        #abc{
        padding-left:20px;
        color:white;
        }
        
        #sai{
            padding-left:20px;
            color:white;
            }
        
            #sunny{
                padding-right:35px;
                color:white;
                }
                #sun{
                    padding-right:40px;
                    color:white;
                    }
                    #pan{
                        padding-right:40px;
                        color:white;
                        }
        
                        #rrr{
                            padding-right:40px;
                            color:white;
                            }
                
                        #aaa{
                            color:darkslategrey;
                          }
                          #profile{
                             padding-left:10px;
                             
                           }
                          #cog{
                             color:darkslategrey;
                             padding-left:5px;
                             padding-top:10px;
                           }      
                           .nani{
                            padding-right: 11px;
                          }
                          #ddd{
                            margin-top: 8px;
                          }
                          #profile{
                            margin-top: 16px;
                          }
                          #set{
                            margin-top: 17px;
                          }
                          #about{
                            margin-top: 7px;
                          }
                          #contact{
                            margin-top: 7px;
                          }
                          #back{
                            margin-top: 17px;
                          }
                          #out{
                            margin-top: 7px;
                          }
                           
                          
                         #user{
                               
                               color:darkslategrey;
                         }
                         .pos-f-t{
                             border-radius:40px;
                             border:solid darkslategray 2px;
                             border-radius:4px;
                             }
     
                             #quest{
                               padding-right:10px;
                               color:darkslategrey;
                             }
     
                             
     
                             #book{
                               padding-right:10px;
                               color:darkslategrey;
                             }
                             
                             #feed{
                               padding-right:10px;
                               color:darkslategrey;
                             }
                           
                           
                           
                           #log{
                             padding-right:10px;
                             color:darkslategrey;
                           
                           }
                           #middle{
                            margin-left: 282px;
                           }
                           
                           #cam{
                            position: relative;
                            right: 75px;
                             top: 10px;
                            }

                            label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

    .center{
        padding: 12px;
    padding-left: 409px;
    margin-left: 16px;
    margin-bottom: 34px;

}
.form-control{
  margin: 31px;
  margin-right: 18px;
  padding-bottom: 48px;
}
.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}