<div class="row">
  <div class="col-md-3 ml-5 mt-3">
    <div class="card">
      <div class="card-header">
        <h1>About UFC</h1>
      </div>
      <div class="card-body p-2">
        <video style="width:435px;height: 500px;" controls>
          <source src="../../assets/srujan video 1.mp4"type="video/mp4">
        </video>
      </div>
      <div class="card-footer">
        <h3 style="font-size: 35px;">Vision and Mission</h3>
        <h4>UFC has a strong business 
        vision to spread its model of 
        fitness, nutrition and sports with 
        ambitious plans for the next 10 
        years. It aims to open boxing 
        and MMA clubs for school-going 
        children to inculcate the values 
        of martial arts at an early age. It 
        also targets to go pan-India with 
        an affordable franchise model, 
        providing an exciting opportunity 
        for businessmen keen to expand 
        into this wonderful line of work.</h4>
      </div>
    </div>
  </div>
  <div class="col-md-3 ml-2 mt-3">
    <div class="card">
      <div class="card-header">
        <h1>About Srujan Jay</h1>
      </div>
      <div class="card-body p-2">
        <video style="width:435px;height: 500px;" controls>
          <source src="../../assets/aboutsrujan.mp4"type="video/mp4">
        </video>
      </div>
      <div class="card-footer">
        <h2 style="font-size: 35px;">Fitness</h2>
        <h4>Fitness enthusiast turned entrepreneur Srujan jay stands as an icon to many.
          Jay is an fitness enthusiast since childhood. His high metabolism can be traced back to early days of his life. It was his dad who encouraged him to indulge in all kinds of sports.
          He played cricket and volleyball  in school teams. He used to be in athletics team as well at school and college.
          He cherishes his first medal 200 mtrs sprint in school. conducted by (ILO)
          He started being more inclined towards sports  and got trained in  cricket at KIOC (Karnataka Institute of cricket)and played division for Bangalore.
          Then he made boxing his passion at rocksolid institute Bangalore . Srujan has now become an enterpreneur and turned his lifelong dedication to fitness into a Health/wellness club at Hitech City, Hyderabad. He owns the @unittedfightclub that specialises in GYM, BOXING, MMA and NUTRITION.
          
          Srujan jay also holds a Masters degree in PHARMACEUTICS he is an ACSM(EIM) specialist, and ISSA Sports nutritionist.
          With all this he has got an immense knowledge about his human anatomy and physiology and body mechanism he can analyse and understand  the body and can help in your transformation journey.
          
          Jay insists we should always incorporate fitness into our busy schedules.  
          
          He also says that fitness means being  MENTALLY, PHYSICALLY, and SPIRITUALLY fit .  
          
          His main motto is to train your
          MIND. BODY. SPIRIT.
          
          One needn't attend a gym. Rather one can involve onself in any activity that increases the heart rate. One can jog, swim, pump iron or play a sport of any kind. Doing any such physical exersion also helps us unwind and reduces stress levels.
          
          Ideally one should always make it a point to get up early and take out half an hour for physical activities atleast 5 times a week
          
          Srujan's mantra is that fitness is a way of life not just a sixpack fixation.
          It's all about 
          DIET. 
          WORKOUT. 
          REST. 
          REPEAT.
          
          
          Jay says nutrition plays a bigger role in our transformation. 
          Talk to the expert Understand your body and fuel up your body accordingly with healthy micro and macronutients. Avoid excess suppliments and  synthetic hormones (steroids) as they might result in long term side effects and can be dangerous.</h4>
      </div>
    </div>
  </div>
  <div class="col-md-3 ml-2 mt-3">
    <div class="card">
      <div class="card-header">
        <h1>Online Classes</h1>
      </div>
      <div class="card-body p-2">
        <video style="width:435px;height: 500px;" controls>
          <source src="../../assets/onlineclass.mp4"type="video/mp4">
        </video>
      </div>
      <div class="card-footer">
        <h2 style="font-size: 35px;">ONLINE CLASSES</h2>
        <h4>During these times of uncertainty, stress, and social distancing, we need physical activity more than ever.
          While many health clubs are closed, there are still a number of ways you can incorporate exercise into your daily life. These free online workouts, provided by UFC-XTREME members as part of an initiative  with the World Health Organization, are designed to help you and your family keep active even if you’re not leaving your home.
          
          #BeActive, #HealthyAtHome, and #GetActiveForAll. 
          
          UFC- XTREME
          Experience 100+ online workouts i ranging from total body bootcamp,  cardio to pilates, yoga, cardio kickboxing, HIIT, calisthenics, athletics, Boxing/MMA and with diet and nutrition sessions to bring awareness on health. 
          1. Workout- 10 to 30 minutes
          2. Nutrition session- 20 to 30 minutes</h4>
      </div>
    </div>
</div>